flujo1.json
[{"id":"4236c219.904cfc","type":"tab","label":"Flow 1"},{"id":"fbc527b8.6f9e88","type":"tab","label":"Processing"},{"id":"919dc4ed.7dbe78","type":"serial-port","z":"","serialport":"/dev/cu.usbserial-A100DNF0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"ee8339c8.5c7db8","type":"serial-port","z":"","serialport":"/dev/cu.usbserial-A100DNHL","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"ce4b4442.dd2908","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"mediciones","name":"MONGODB"},{"id":"23469996.97cec6","type":"ui_base","name":"Node-RED Dashboard","theme":"theme-light"},{"id":"4a2f2e96.eece2","type":"serial-port","z":"","serialport":"/dev/cu.usbserial-A100DOBD","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"88d2aa73.38fb18","type":"serial-port","z":"","serialport":"/dev/cu.usbserial-A100DOBD","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"7d7bf21f.14490c","type":"serial-port","z":"","serialport":"/dev/cu.usbserial-A100DNHL","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"2941814.1e6567e","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"mediciones","name":"MONGODB"},{"id":"5077e867.8ba1b8","type":"serial in","z":"4236c219.904cfc","name":"READ","serial":"88d2aa73.38fb18","x":72,"y":57,"wires":[["c12d47f1.683008"]]},{"id":"2640788d.2d8738","type":"inject","z":"4236c219.904cfc","name":"sensorTime","topic":"actualTimeStamp","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":127,"y":257,"wires":[["f254e640.330258"]]},{"id":"f254e640.330258","type":"function","z":"4236c219.904cfc","name":"Format-Time","func":"var res = {}\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn msg;","outputs":1,"noerr":0,"x":345,"y":279,"wires":[["94963f7b.07d34"]]},{"id":"c12d47f1.683008","type":"function","z":"4236c219.904cfc","name":"Format-Meditions","func":"var res = {};\nvar tempArray = [];\nvar tempUnit = \"\";\n\ntempString = msg.payload;\ntempArray = tempString.split(\"\\t\");\ntempUnit = tempArray[1].replace(\"\\r\\n\", \"\");\n// node.warn(\"INFO \"+tempArray);\nres.topic = \"medition\";\nres.payload = {};\n\nres.payload = {\"data\": parseInt(tempArray[0]),\n\"unit\": tempArray[1]}\n\nreturn res;","outputs":1,"noerr":0,"x":340,"y":89,"wires":[["94963f7b.07d34"]]},{"id":"bf47801a.e778e","type":"debug","z":"4236c219.904cfc","name":"","active":true,"console":"false","complete":"payload","x":678,"y":311,"wires":[]},{"id":"97be79b9.a66788","type":"debug","z":"4236c219.904cfc","name":"","active":true,"console":"false","complete":"false","x":676,"y":49,"wires":[]},{"id":"94963f7b.07d34","type":"function","z":"4236c219.904cfc","name":"Merge","func":"context.data = context.data || {};\nswitch (msg.topic) {\n    case \"actualTimeStamp\": \n        context.data.openTimestamp = msg.payload;\n        msg = null; \n        break;\n    case \"medition\":\n        var ids = [\"58a73dbb02441e058279cd12\",\"58c5bdcb0257970470223de2\",\"58c5bdd50257970470223de3\",\"58c5bddb0257970470223de4\",\"58c5bddf0257970470223de5\",\"58c5bde30257970470223de6\",\"58c5bdeb0257970470223de7\",\"589f861a04814daedd023db6\"];\n        // context.data.idPaciente = ids[Math.floor( Math.random()*8 )];\n        context.data.idPaciente = \"58e7dacda85b7428acd03abb\";\n        context.data.valorMedicion = msg.payload.data;\n        var tipo = msg.payload.unit;\n        if (tipo.length == 5)\n            tipo = \"CARDIACA\";\n        else if (tipo.length == 4)\n            tipo = \"ESTRES\";\n        else if (tipo.length == 6)\n            tipo = \"PRESION\";\n        var rand = Math.random()*3;\n        if (rand <= 1)\n            context.data.colorMedicion = \"VERDE\";\n        else if (rand <= 2)\n            context.data.colorMedicion = \"AMARILLO\";\n        else if (rand <= 3)\n            context.data.colorMedicion = \"ROJO\";\n        context.data.tipoMedicion = tipo;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.openTimestamp != null && context.data.valorMedicion != null) {\n\tres = {};\n\tres.digestMessage = context.data.valorMedicion + context.data.tipoMedicion;\n// \tnode.warn(res.digestMessage);\n    res.payload = JSON.stringify(context.data);\n    context.data = null;\n\treturn res;\n}","outputs":1,"noerr":0,"x":770,"y":180,"wires":[["fbebe9cc.244278"]]},{"id":"9c049940.29c3c8","type":"udp out","z":"4236c219.904cfc","name":"","addr":"localhost","iface":"","port":"6000","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":1280,"y":131,"wires":[]},{"id":"53e336df.148f88","type":"debug","z":"4236c219.904cfc","name":"","active":true,"console":"false","complete":"false","x":501,"y":34,"wires":[]},{"id":"265e92da.b8d8ce","type":"debug","z":"4236c219.904cfc","name":"","active":true,"console":"false","complete":"false","x":501,"y":205,"wires":[]},{"id":"d0b007e.f0f76f8","type":"debug","z":"4236c219.904cfc","name":"","active":true,"console":"false","complete":"payload","x":1080,"y":211,"wires":[]},{"id":"c892a243.6034c","type":"udp in","z":"fbc527b8.6f9e88","name":"UDP incoming","iface":"","port":"6000","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":86,"y":49,"wires":[[]]},{"id":"1a71894d.2ef997","type":"http request","z":"fbc527b8.6f9e88","name":"","method":"POST","ret":"txt","url":"localhost:9000/medicion","tls":"","x":466,"y":104,"wires":[["ead80eb8.a6e05"]]},{"id":"9c62806d.d5c72","type":"function","z":"fbc527b8.6f9e88","name":"doSmthng","func":"msg.headers = {\n         \"Content-type\" : \"application/json\"\n     };\nmsg.body = msg.payload;\nreturn msg; ","outputs":1,"noerr":0,"x":279,"y":87,"wires":[["1a71894d.2ef997"]]},{"id":"ead80eb8.a6e05","type":"debug","z":"fbc527b8.6f9e88","name":"","active":true,"console":"false","complete":"false","x":635,"y":103,"wires":[]},{"id":"fbebe9cc.244278","type":"md5","z":"4236c219.904cfc","name":"hashInfo","fieldToHash":"digestMessage","fieldTypeToHash":"msg","hashField":"md5","hashFieldType":"msg","x":916.5,"y":93,"wires":[["1e5e136.6127fed"]]},{"id":"1e5e136.6127fed","type":"function","z":"4236c219.904cfc","name":"addHash","func":"var json = JSON.parse(msg.payload);\njson.digest = \"fewgewgwe\";\nmsg.payload = JSON.stringify(json);\nreturn msg;","outputs":1,"noerr":0,"x":1061.5,"y":78,"wires":[["9c049940.29c3c8"]]}]