pruebasSensor/flujo1.json
[{"id":"58837605.d3ec98","type":"tab","label":"Flow 1"},{"id":"c7b01c62.22f1b","type":"tab","label":"Processing"},{"id":"919dc4ed.7dbe78","type":"serial-port","z":"","serialport":"/dev/cu.usbserial-A100DNHL","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"ee8339c8.5c7db8","type":"serial-port","z":"","serialport":"/dev/cu.usbserial-A100DNHL","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"ce4b4442.dd2908","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"mediciones","name":"MONGODB"},{"id":"bac4f23a.d7adb","type":"serial in","z":"58837605.d3ec98","name":"READ","serial":"919dc4ed.7dbe78","x":72,"y":57,"wires":[["745f226b.0c97bc"]]},{"id":"93a91727.2871e8","type":"inject","z":"58837605.d3ec98","name":"sensorTime","topic":"actualTimeStamp","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":127,"y":257,"wires":[["6eff9602.43bdb8"]]},{"id":"6eff9602.43bdb8","type":"function","z":"58837605.d3ec98","name":"Format-Time","func":"var res = {}\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn msg;","outputs":1,"noerr":0,"x":345,"y":279,"wires":[["772e237.59aa0dc"]]},{"id":"745f226b.0c97bc","type":"function","z":"58837605.d3ec98","name":"Format-Meditions","func":"var res = {};\nvar tempArray = [];\nvar tempUnit = \"\";\n\ntempString = msg.payload;\ntempArray = tempString.split(\"\\t\");\ntempUnit = tempArray[1].replace(\"\\r\\n\", \"\");\n// node.warn(\"INFO \"+tempArray);\nres.topic = \"medition\";\nres.payload = {};\n\nres.payload = {\"data\": parseInt(tempArray[0]),\n\"unit\": tempArray[1]}\n\nreturn res;","outputs":1,"noerr":0,"x":340,"y":89,"wires":[["772e237.59aa0dc"]]},{"id":"5966ae3a.f63d3","type":"debug","z":"58837605.d3ec98","name":"","active":true,"console":"false","complete":"payload","x":678,"y":311,"wires":[]},{"id":"60694d45.20dc14","type":"debug","z":"58837605.d3ec98","name":"","active":true,"console":"false","complete":"false","x":676,"y":49,"wires":[]},{"id":"772e237.59aa0dc","type":"function","z":"58837605.d3ec98","name":"Merge","func":"context.data = context.data || {};\nswitch (msg.topic) {\n    case \"actualTimeStamp\": \n        context.data.openTimestamp = msg.payload;\n        msg = null; \n        break;\n    case \"medition\":\n        var ids = [\"58a73dbb02441e058279cd12\",\"58c5bdcb0257970470223de2\",\"58c5bdd50257970470223de3\",\"58c5bddb0257970470223de4\",\"58c5bddf0257970470223de5\",\"58c5bde30257970470223de6\",\"58c5bdeb0257970470223de7\",\"589f861a04814daedd023db6\"];\n        context.data.idPaciente = ids[Math.floor( Math.random()*8 )];\n        context.data.valorMedicion = msg.payload.data;\n        var tipo = msg.payload.unit;\n        if (tipo.length == 5)\n            tipo = \"CARDIACA\";\n        else if (tipo.length == 4)\n            tipo = \"ESTRES\";\n        else if (tipo.length == 6)\n            tipo = \"PRESION\";\n        var rand = Math.random()*3;\n        if (rand <= 1)\n            context.data.colorMedicion = \"VERDE\";\n        else if (rand <= 2)\n            context.data.colorMedicion = \"AMARILLO\";\n        else if (rand <= 3)\n            context.data.colorMedicion = \"ROJO\";\n        context.data.tipoMedicion = tipo;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.openTimestamp != null && context.data.valorMedicion != null) {\n\tres = {};\n    res.payload = JSON.stringify(context.data);\n    res.topic = \"roomTemperature\"\n    context.data = null;\n\treturn res;\n}","outputs":1,"noerr":0,"x":770,"y":180,"wires":[["d778f110.0fa74"]]},{"id":"d778f110.0fa74","type":"udp out","z":"58837605.d3ec98","name":"","addr":"localhost","iface":"","port":"6000","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":1003,"y":133,"wires":[]},{"id":"caa8811e.0b1f7","type":"debug","z":"58837605.d3ec98","name":"","active":true,"console":"false","complete":"false","x":501,"y":34,"wires":[]},{"id":"95137453.660de8","type":"debug","z":"58837605.d3ec98","name":"","active":true,"console":"false","complete":"false","x":501,"y":205,"wires":[]},{"id":"9c8b1496.adae58","type":"debug","z":"58837605.d3ec98","name":"","active":true,"console":"false","complete":"payload","x":982,"y":208,"wires":[]},{"id":"eb2733d5.35739","type":"udp in","z":"c7b01c62.22f1b","name":"UDP incoming","iface":"","port":"6000","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":86,"y":49,"wires":[["650a6070.41655"]]},{"id":"52a79d1b.5dd2d4","type":"http request","z":"c7b01c62.22f1b","name":"","method":"POST","ret":"txt","url":"hospital-arquisoft.herokuapp.com/medicion","tls":"","x":466,"y":104,"wires":[["c0f0de3b.8ed79"]]},{"id":"650a6070.41655","type":"function","z":"c7b01c62.22f1b","name":"doSmthng","func":"msg.headers = {\n         \"Content-type\" : \"application/json\"\n     };\nmsg.body = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":285,"y":106,"wires":[["52a79d1b.5dd2d4"]]},{"id":"c0f0de3b.8ed79","type":"debug","z":"c7b01c62.22f1b","name":"","active":true,"console":"false","complete":"false","x":635,"y":103,"wires":[]}]